footer {
  background-color: gray;
  padding: 50px 20px;
}
footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .ftr h3 {
  font-size: 1.4em;
  margin-bottom: 1.2em;
  color: white;
}
footer .contents a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  line-height: 30px;
  transition: 0.3s ease opacity;
}
footer .contents a:hover {
  opacity: 1;
}
