@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: red;
}
.headers {
  padding: 20px;
}
h1 {
  padding: 30px 50px;
}
h4 {
  padding: 1px 50px;
  margin: 20px;
  color: gray;
}
.ul {
  list-style-type: none;
  overflow: hidden;
  background-color: gray;
  top: 0;
  width: 100%;
}
.products {
  float: right;
}
.services {
  float: right;
}
.contact {
  float: right;
}
.log {
  float: right;
}
.Nav {
  background: gray;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.NavLink {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.sign {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}
.get {
  float: right;
}
.li a {
  display: block;
  color: white;
  padding: 16px 14px;
}
.team {
  float: left;
}
.containers {
  text-align: center;
}
p {
  font-size: 14px;
  justify-content: flex-start;
  text-align: left;
  padding: 10px;
}
.Card {
  width: 25%;
  display: inline-block;
  box-shadow: 2px 2px 20px gray;
  border-radius: 5px;
  margin: 2%;
}
.Card img {
  max-width: 100%;
  filter: grayscale(0.4);
  height: auto;
  transition: 0.3s;
}
.Card:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.btttn {
  color: #ffffff;
  background-color: darkred;
  padding: 8px 40px;
  margin: 10px;
  font-size: 15px;
}
footer {
  background-color: gray;
  padding: 50px 20px;
}
footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .ftr h3 {
  font-size: 1.4em;
  margin-bottom: 1.2em;
  color: white;
}
footer .contents a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  line-height: 30px;
  transition: 0.3s ease opacity;
}
footer .contents a:hover {
  opacity: 1;
}
form {
  display: flex;
  align-items: center;
  width: 100%;
}
.social {
  font-size: 1.4em;
  margin-bottom: 1.2em;
  color: white;
}
input {
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  background-color: #f5f5f5f5;
}
.bton {
  text-align: center;
}
.btton {
  background-color: gray;
  padding: 15px 40px;
  margin: 20px;
  font-size: 15px;
}
.bttn input {
  background: darkred;
  color: #ffffff;
  transition: 0.3s ease;
}
.bttn input:hover {
  background: #333;
}
@media only screen and(max-width: 540px) {
  footer .ftr {
    flex-basis: 80%;
    margin: 0 auto;
  }
  form {
    flex-direction: column;
  }
  form input {
    width: 90%;
    margin: 5px auto;
  }
}
